<%- include('../includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial; text-align: center;"
>
  <h2>Hello, <%= name %></h2>
  <p >Have you forgotten your password?</p>
  <a href="<%= process.env.DOMAIN %>/changePassword?token=<%= token %>">Click here to change password</a>
</div>

<%- include('../includes/footer.ejs') %>